@import '@fortawesome/fontawesome-free/css/all.css';
* {
  font-family: 'Epilogue', sans-serif;
  max-width: 100vw;
}

body {
  background-color: #f9f2e8;
  overflow-x: hidden;
}

button.text-roll {
  background-color: #fed403;
  font-size: x-large;
  padding: 15px 20px;
  border-radius: 50px;
  color: #091c2a;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: grid;
  width: fit-content;
  isolation: isolate;
}

button.text-roll .text-container {
  display: flex;
  align-items: center;
  height: 100%;
  grid-area: 1 / 1;
  transition: transform .3s cubic-bezier(.76, 0, .24, 1);
  z-index: 102;
}

button.text-roll .text-clone {
  display: flex;
  align-items: center;
  height: 100%;
  grid-area: 1 / 1;
  color: white;
  transform: translateY(250%);
  transition: transform .3s cubic-bezier(.76, 0, .24, 1);
  z-index: 103;
}

@media (prefers-reduced-motion: no-preference) {
  button.text-roll .text-container {
    transition-delay: .1s;
  }

  button.text-roll .text-clone {
    transition-delay: .1s;
  }
}
button.text-roll::before {
  content: '';
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #a791e4;
  transition: bottom .4s cubic-bezier(.76, 0, .24, 1);
  border-radius: 50px;
  z-index: 101;
}

button.text-roll:hover::before {
  bottom: 0;
}

button.text-roll:hover .text-container {
  transform: translateY(-250%);
}

button.text-roll:hover .text-clone {
  transform: translateY(0%);
}

.yellow {
    background: rgba(254, 212, 3);
}
.yellow-text {
  color: rgba(254, 212, 3);
}
.cream {
  background-color: #f9f2e8;
}
.cream-text {
  color: #f9f2e8;
}
.purple {
  background: rgba(167, 145, 228, 1);
}

.purple-text {
  color: rgba(167, 145, 228, 1);
}
.dark-blue {
  background-color: #091c2a;
}

.dark-blue-text {
  color: #091c2a;
}

.orange-text {
  color: #c55e3d;
}

.orange {
  background-color: #c55e3d;
}

.lighter-blue-text {
  color: #046ab6;
}
.lighter-blue {
  background-color: #046ab6;
}

.zigzag {
  clip-path: polygon(
    0% 15%,
    5% 0%, 10% 15%, 15% 0%, 20% 15%, 25% 0%, 30% 15%, 35% 0%, 40% 15%, 45% 0%,
    50% 15%, 55% 0%, 60% 15%, 65% 0%, 70% 15%, 75% 0%, 80% 15%, 85% 0%, 90% 15%, 95% 0%,
    100% 15%,
    100% 85%,
    95% 100%, 90% 85%, 85% 100%, 80% 85%, 75% 100%, 70% 85%, 65% 100%, 60% 85%, 55% 100%,
    50% 85%, 45% 100%, 40% 85%, 35% 100%, 30% 85%, 25% 100%, 20% 85%, 15% 100%, 10% 85%, 5% 100%,
    0% 85%
  );
}

.zigzag-top {
  clip-path: polygon(
    0% 15%, 5% 0%, 10% 15%, 15% 0%, 20% 15%, 25% 0%, 30% 15%, 35% 0%, 40% 15%, 45% 0%,
    50% 15%, 55% 0%, 60% 15%, 65% 0%, 70% 15%, 75% 0%, 80% 15%, 85% 0%, 90% 15%, 95% 0%,
    100% 15%, 100% 100%, 0% 100%
  );
}

.zigzag-bottom {
  clip-path: polygon(
    0% 0%, 100% 0%, 100% 85%,
    95% 100%, 90% 85%, 85% 100%, 80% 85%, 75% 100%, 70% 85%, 65% 100%, 60% 85%, 55% 100%,
    50% 85%, 45% 100%, 40% 85%, 35% 100%, 30% 85%, 25% 100%, 20% 85%, 15% 100%, 10% 85%, 5% 100%,
    0% 85%
  );
}

.small-zigzag {
  clip-path: polygon(
    0% 2.5%,
    0.625% 0%, 1.25% 2.5%, 1.875% 0%, 2.5% 2.5%, 3.125% 0%, 3.75% 2.5%, 4.375% 0%, 5% 2.5%, 5.625% 0%,
    6.25% 2.5%, 6.875% 0%, 7.5% 2.5%, 8.125% 0%, 8.75% 2.5%, 9.375% 0%, 10% 2.5%, 10.625% 0%, 11.25% 2.5%, 11.875% 0%,
    12.5% 2.5%, 13.125% 0%, 13.75% 2.5%, 14.375% 0%, 15% 2.5%, 15.625% 0%, 16.25% 2.5%, 16.875% 0%, 17.5% 2.5%, 18.125% 0%,
    18.75% 2.5%, 19.375% 0%, 20% 2.5%, 20.625% 0%, 21.25% 2.5%, 21.875% 0%, 22.5% 2.5%, 23.125% 0%, 23.75% 2.5%, 24.375% 0%,
    25% 2.5%, 25.625% 0%, 26.25% 2.5%, 26.875% 0%, 27.5% 2.5%, 28.125% 0%, 28.75% 2.5%, 29.375% 0%, 30% 2.5%, 30.625% 0%,
    31.25% 2.5%, 31.875% 0%, 32.5% 2.5%, 33.125% 0%, 33.75% 2.5%, 34.375% 0%, 35% 2.5%, 35.625% 0%, 36.25% 2.5%, 36.875% 0%,
    37.5% 2.5%, 38.125% 0%, 38.75% 2.5%, 39.375% 0%, 40% 2.5%, 40.625% 0%, 41.25% 2.5%, 41.875% 0%, 42.5% 2.5%, 43.125% 0%,
    43.75% 2.5%, 44.375% 0%, 45% 2.5%, 45.625% 0%, 46.25% 2.5%, 46.875% 0%, 47.5% 2.5%, 48.125% 0%, 48.75% 2.5%, 49.375% 0%,
    50% 2.5%, 50.625% 0%, 51.25% 2.5%, 51.875% 0%, 52.5% 2.5%, 53.125% 0%, 53.75% 2.5%, 54.375% 0%, 55% 2.5%, 55.625% 0%,
    56.25% 2.5%, 56.875% 0%, 57.5% 2.5%, 58.125% 0%, 58.75% 2.5%, 59.375% 0%, 60% 2.5%, 60.625% 0%, 61.25% 2.5%, 61.875% 0%,
    62.5% 2.5%, 63.125% 0%, 63.75% 2.5%, 64.375% 0%, 65% 2.5%, 65.625% 0%, 66.25% 2.5%, 66.875% 0%, 67.5% 2.5%, 68.125% 0%,
    68.75% 2.5%, 69.375% 0%, 70% 2.5%, 70.625% 0%, 71.25% 2.5%, 71.875% 0%, 72.5% 2.5%, 73.125% 0%, 73.75% 2.5%, 74.375% 0%,
    75% 2.5%, 75.625% 0%, 76.25% 2.5%, 76.875% 0%, 77.5% 2.5%, 78.125% 0%, 78.75% 2.5%, 79.375% 0%, 80% 2.5%, 80.625% 0%,
    81.25% 2.5%, 81.875% 0%, 82.5% 2.5%, 83.125% 0%, 83.75% 2.5%, 84.375% 0%, 85% 2.5%, 85.625% 0%, 86.25% 2.5%, 86.875% 0%,
    87.5% 2.5%, 88.125% 0%, 88.75% 2.5%, 89.375% 0%, 90% 2.5%, 90.625% 0%, 91.25% 2.5%, 91.875% 0%, 92.5% 2.5%, 93.125% 0%,
    93.75% 2.5%, 94.375% 0%, 95% 2.5%, 95.625% 0%, 96.25% 2.5%, 96.875% 0%, 97.5% 2.5%, 98.125% 0%, 98.75% 2.5%, 99.375% 0%,
    100% 2.5%,
    100% 97.5%,
    99.375% 100%, 98.75% 97.5%, 98.125% 100%, 97.5% 97.5%, 96.875% 100%, 96.25% 97.5%, 95.625% 100%, 95% 97.5%, 94.375% 100%,
    93.75% 97.5%, 93.125% 100%, 92.5% 97.5%, 91.875% 100%, 91.25% 97.5%, 90.625% 100%, 90% 97.5%, 89.375% 100%, 88.75% 97.5%, 88.125% 100%,
    87.5% 97.5%, 86.875% 100%, 86.25% 97.5%, 85.625% 100%, 85% 97.5%, 84.375% 100%, 83.75% 97.5%, 83.125% 100%, 82.5% 97.5%, 81.875% 100%,
    81.25% 97.5%, 80.625% 100%, 80% 97.5%, 79.375% 100%, 78.75% 97.5%, 78.125% 100%, 77.5% 97.5%, 76.875% 100%, 76.25% 97.5%, 75.625% 100%,
    75% 97.5%, 74.375% 100%, 73.75% 97.5%, 73.125% 100%, 72.5% 97.5%, 71.875% 100%, 71.25% 97.5%, 70.625% 100%, 70% 97.5%, 69.375% 100%,
    68.75% 97.5%, 68.125% 100%, 67.5% 97.5%, 66.875% 100%, 66.25% 97.5%, 65.625% 100%, 65% 97.5%, 64.375% 100%, 63.75% 97.5%, 63.125% 100%,
    62.5% 97.5%, 61.875% 100%, 61.25% 97.5%, 60.625% 100%, 60% 97.5%, 59.375% 100%, 58.75% 97.5%, 58.125% 100%, 57.5% 97.5%, 56.875% 100%,
    56.25% 97.5%, 55.625% 100%, 55% 97.5%, 54.375% 100%, 53.75% 97.5%, 53.125% 100%, 52.5% 97.5%, 51.875% 100%, 51.25% 97.5%, 50.625% 100%,
    50% 97.5%, 49.375% 100%, 48.75% 97.5%, 48.125% 100%, 47.5% 97.5%, 46.875% 100%, 46.25% 97.5%, 45.625% 100%, 45% 97.5%, 44.375% 100%,
    43.75% 97.5%, 43.125% 100%, 42.5% 97.5%, 41.875% 100%, 41.25% 97.5%, 40.625% 100%, 40% 97.5%, 39.375% 100%, 38.75% 97.5%, 38.125% 100%,
    37.5% 97.5%, 36.875% 100%, 36.25% 97.5%, 35.625% 100%, 35% 97.5%, 34.375% 100%, 33.75% 97.5%, 33.125% 100%, 32.5% 97.5%, 31.875% 100%,
    31.25% 97.5%, 30.625% 100%, 30% 97.5%, 29.375% 100%, 28.75% 97.5%, 28.125% 100%, 27.5% 97.5%, 26.875% 100%, 26.25% 97.5%, 25.625% 100%,
    25% 97.5%, 24.375% 100%, 23.75% 97.5%, 23.125% 100%, 22.5% 97.5%, 21.875% 100%, 21.25% 97.5%, 20.625% 100%, 20% 97.5%, 19.375% 100%,
    18.75% 97.5%, 18.125% 100%, 17.5% 97.5%, 16.875% 100%, 16.25% 97.5%, 15.625% 100%, 15% 97.5%, 14.375% 100%, 13.75% 97.5%, 13.125% 100%,
    12.5% 97.5%, 11.875% 100%, 11.25% 97.5%, 10.625% 100%, 10% 97.5%, 9.375% 100%, 8.75% 97.5%, 8.125% 100%, 7.5% 97.5%, 6.875% 100%,
    6.25% 97.5%, 5.625% 100%, 5% 97.5%, 4.375% 100%, 3.75% 97.5%, 3.125% 100%, 2.5% 97.5%, 1.875% 100%, 1.25% 97.5%, 0.625% 100%,
    0% 97.5%
  );
}

.small-zigzag-top {
  clip-path: polygon(
    0% 2.5%,
    0.625% 0%, 1.25% 2.5%, 1.875% 0%, 2.5% 2.5%, 3.125% 0%, 3.75% 2.5%, 4.375% 0%, 5% 2.5%, 5.625% 0%,
    6.25% 2.5%, 6.875% 0%, 7.5% 2.5%, 8.125% 0%, 8.75% 2.5%, 9.375% 0%, 10% 2.5%, 10.625% 0%, 11.25% 2.5%, 11.875% 0%,
    12.5% 2.5%, 13.125% 0%, 13.75% 2.5%, 14.375% 0%, 15% 2.5%, 15.625% 0%, 16.25% 2.5%, 16.875% 0%, 17.5% 2.5%, 18.125% 0%,
    18.75% 2.5%, 19.375% 0%, 20% 2.5%, 20.625% 0%, 21.25% 2.5%, 21.875% 0%, 22.5% 2.5%, 23.125% 0%, 23.75% 2.5%, 24.375% 0%,
    25% 2.5%, 25.625% 0%, 26.25% 2.5%, 26.875% 0%, 27.5% 2.5%, 28.125% 0%, 28.75% 2.5%, 29.375% 0%, 30% 2.5%, 30.625% 0%,
    31.25% 2.5%, 31.875% 0%, 32.5% 2.5%, 33.125% 0%, 33.75% 2.5%, 34.375% 0%, 35% 2.5%, 35.625% 0%, 36.25% 2.5%, 36.875% 0%,
    37.5% 2.5%, 38.125% 0%, 38.75% 2.5%, 39.375% 0%, 40% 2.5%, 40.625% 0%, 41.25% 2.5%, 41.875% 0%, 42.5% 2.5%, 43.125% 0%,
    43.75% 2.5%, 44.375% 0%, 45% 2.5%, 45.625% 0%, 46.25% 2.5%, 46.875% 0%, 47.5% 2.5%, 48.125% 0%, 48.75% 2.5%, 49.375% 0%,
    50% 2.5%, 50.625% 0%, 51.25% 2.5%, 51.875% 0%, 52.5% 2.5%, 53.125% 0%, 53.75% 2.5%, 54.375% 0%, 55% 2.5%, 55.625% 0%,
    56.25% 2.5%, 56.875% 0%, 57.5% 2.5%, 58.125% 0%, 58.75% 2.5%, 59.375% 0%, 60% 2.5%, 60.625% 0%, 61.25% 2.5%, 61.875% 0%,
    62.5% 2.5%, 63.125% 0%, 63.75% 2.5%, 64.375% 0%, 65% 2.5%, 65.625% 0%, 66.25% 2.5%, 66.875% 0%, 67.5% 2.5%, 68.125% 0%,
    68.75% 2.5%, 69.375% 0%, 70% 2.5%, 70.625% 0%, 71.25% 2.5%, 71.875% 0%, 72.5% 2.5%, 73.125% 0%, 73.75% 2.5%, 74.375% 0%,
    75% 2.5%, 75.625% 0%, 76.25% 2.5%, 76.875% 0%, 77.5% 2.5%, 78.125% 0%, 78.75% 2.5%, 79.375% 0%, 80% 2.5%, 80.625% 0%,
    81.25% 2.5%, 81.875% 0%, 82.5% 2.5%, 83.125% 0%, 83.75% 2.5%, 84.375% 0%, 85% 2.5%, 85.625% 0%, 86.25% 2.5%, 86.875% 0%,
    87.5% 2.5%, 88.125% 0%, 88.75% 2.5%, 89.375% 0%, 90% 2.5%, 90.625% 0%, 91.25% 2.5%, 91.875% 0%, 92.5% 2.5%, 93.125% 0%,
    93.75% 2.5%, 94.375% 0%, 95% 2.5%, 95.625% 0%, 96.25% 2.5%, 96.875% 0%, 97.5% 2.5%, 98.125% 0%, 98.75% 2.5%, 99.375% 0%,
    100% 2.5%, 100% 97.5%, 100% 100%, 0% 100%
  );
}

.small-zigzag-bottom {
  clip-path: polygon(
    0% 0%, 100% 0%, 100% 97.5%,
    99.375% 100%, 98.75% 97.5%, 98.125% 100%, 97.5% 97.5%, 96.875% 100%, 96.25% 97.5%, 95.625% 100%, 95% 97.5%, 94.375% 100%,
    93.75% 97.5%, 93.125% 100%, 92.5% 97.5%, 91.875% 100%, 91.25% 97.5%, 90.625% 100%, 90% 97.5%, 89.375% 100%, 88.75% 97.5%, 88.125% 100%,
    87.5% 97.5%, 86.875% 100%, 86.25% 97.5%, 85.625% 100%, 85% 97.5%, 84.375% 100%, 83.75% 97.5%, 83.125% 100%, 82.5% 97.5%, 81.875% 100%,
    81.25% 97.5%, 80.625% 100%, 80% 97.5%, 79.375% 100%, 78.75% 97.5%, 78.125% 100%, 77.5% 97.5%, 76.875% 100%, 76.25% 97.5%, 75.625% 100%,
    75% 97.5%, 74.375% 100%, 73.75% 97.5%, 73.125% 100%, 72.5% 97.5%, 71.875% 100%, 71.25% 97.5%, 70.625% 100%, 70% 97.5%, 69.375% 100%,
    68.75% 97.5%, 68.125% 100%, 67.5% 97.5%, 66.875% 100%, 66.25% 97.5%, 65.625% 100%, 65% 97.5%, 64.375% 100%, 63.75% 97.5%, 63.125% 100%,
    62.5% 97.5%, 61.875% 100%, 61.25% 97.5%, 60.625% 100%, 60% 97.5%, 59.375% 100%, 58.75% 97.5%, 58.125% 100%, 57.5% 97.5%, 56.875% 100%,
    56.25% 97.5%, 55.625% 100%, 55% 97.5%, 54.375% 100%, 53.75% 97.5%, 53.125% 100%, 52.5% 97.5%, 51.875% 100%, 51.25% 97.5%, 50.625% 100%,
    50% 97.5%, 49.375% 100%, 48.75% 97.5%, 48.125% 100%, 47.5% 97.5%, 46.875% 100%, 46.25% 97.5%, 45.625% 100%, 45% 97.5%, 44.375% 100%,
    43.75% 97.5%, 43.125% 100%, 42.5% 97.5%, 41.875% 100%, 41.25% 97.5%, 40.625% 100%, 40% 97.5%, 39.375% 100%, 38.75% 97.5%, 38.125% 100%,
    37.5% 97.5%, 36.875% 100%, 36.25% 97.5%, 35.625% 100%, 35% 97.5%, 34.375% 100%, 33.75% 97.5%, 33.125% 100%, 32.5% 97.5%, 31.875% 100%,
    31.25% 97.5%, 30.625% 100%, 30% 97.5%, 29.375% 100%, 28.75% 97.5%, 28.125% 100%, 27.5% 97.5%, 26.875% 100%, 26.25% 97.5%, 25.625% 100%,
    25% 97.5%, 24.375% 100%, 23.75% 97.5%, 23.125% 100%, 22.5% 97.5%, 21.875% 100%, 21.25% 97.5%, 20.625% 100%, 20% 97.5%, 19.375% 100%,
    18.75% 97.5%, 18.125% 100%, 17.5% 97.5%, 16.875% 100%, 16.25% 97.5%, 15.625% 100%, 15% 97.5%, 14.375% 100%, 13.75% 97.5%, 13.125% 100%,
    12.5% 97.5%, 11.875% 100%, 11.25% 97.5%, 10.625% 100%, 10% 97.5%, 9.375% 100%, 8.75% 97.5%, 8.125% 100%, 7.5% 97.5%, 6.875% 100%,
    6.25% 97.5%, 5.625% 100%, 5% 97.5%, 4.375% 100%, 3.75% 97.5%, 3.125% 100%, 2.5% 97.5%, 1.875% 100%, 1.25% 97.5%, 0.625% 100%,
    0% 97.5%
  );
}

.zigzag-imbrique {
  margin-top: -15px;
}

@media (max-width: 768px) {
  .zigzag {
    clip-path: polygon(
      0% 5%,
      5% 0%, 15% 10%, 25% 0%, 35% 10%, 45% 0%, 55% 10%, 65% 0%, 75% 10%, 85% 0%, 95% 10%, 100% 5%,
      100% 95%,
      95% 100%, 85% 90%, 75% 100%, 65% 90%, 55% 100%, 45% 90%, 35% 100%, 25% 90%, 15% 100%, 5% 90%,
      0% 95%
    );
  }
  .small-zigzag {
    clip-path: polygon(
      0% 2.5%,
      2.5% 0%, 5% 2.5%, 7.5% 0%, 10% 2.5%, 12.5% 0%, 15% 2.5%, 17.5% 0%, 20% 2.5%, 22.5% 0%, 25% 2.5%,
      27.5% 0%, 30% 2.5%, 32.5% 0%, 35% 2.5%, 37.5% 0%, 40% 2.5%, 42.5% 0%, 45% 2.5%, 47.5% 0%,
      50% 2.5%, 52.5% 0%, 55% 2.5%, 57.5% 0%, 60% 2.5%, 62.5% 0%, 65% 2.5%, 67.5% 0%,
      70% 2.5%, 72.5% 0%, 75% 2.5%, 77.5% 0%, 80% 2.5%, 82.5% 0%, 85% 2.5%, 87.5% 0%,
      90% 2.5%, 92.5% 0%, 95% 2.5%, 97.5% 0%,
      100% 2.5%,
      100% 97.5%, 97.5% 100%, 95% 97.5%, 92.5% 100%, 90% 97.5%, 87.5% 100%, 85% 97.5%, 82.5% 100%, 80% 97.5%,
      77.5% 100%, 75% 97.5%, 72.5% 100%, 70% 97.5%, 67.5% 100%, 65% 97.5%, 62.5% 100%, 60% 97.5%,
      57.5% 100%, 55% 97.5%, 52.5% 100%, 50% 97.5%, 47.5% 100%, 45% 97.5%, 42.5% 100%, 40% 97.5%,
      37.5% 100%, 35% 97.5%, 32.5% 100%, 30% 97.5%, 27.5% 100%, 25% 97.5%, 22.5% 100%, 20% 97.5%,
      17.5% 100%, 15% 97.5%, 12.5% 100%, 10% 97.5%, 7.5% 100%, 5% 97.5%, 2.5% 100%, 0% 97.5%
    );
  }
  .small-zigzag-top {
    clip-path: polygon(
      0% 2.5%,
      2.5% 0%, 5% 2.5%, 7.5% 0%, 10% 2.5%, 12.5% 0%, 15% 2.5%, 17.5% 0%, 20% 2.5%, 22.5% 0%, 25% 2.5%,
      27.5% 0%, 30% 2.5%, 32.5% 0%, 35% 2.5%, 37.5% 0%, 40% 2.5%, 42.5% 0%, 45% 2.5%, 47.5% 0%,
      50% 2.5%, 52.5% 0%, 55% 2.5%, 57.5% 0%, 60% 2.5%, 62.5% 0%, 65% 2.5%, 67.5% 0%,
      70% 2.5%, 72.5% 0%, 75% 2.5%, 77.5% 0%, 80% 2.5%, 82.5% 0%, 85% 2.5%, 87.5% 0%,
      90% 2.5%, 92.5% 0%, 95% 2.5%, 97.5% 0%,
      100% 2.5%, 100% 97.5%, 100% 100%, 0% 100%
    );
  }
}
