<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<body>
  <div class="main-container">
    <div class="layout-block-1">
      <div class="group-1-4">
        <section class="section-1 lighter-blue-text" style="background-image: url(assets/drone1.png)">
          <h1>OS1</h1>
          <p>Aka overpriced sprinkler</p>
        </section>
      </div>

      <section class="section-3 lighter-blue">
        <h1>SECTION 3</h1>
        <p>Zone gauche bas</p>
      </section>

      <section class="section-5" style="background-image: url(assets/Drone_Payload.png)">
      </section>

      <section class="section-7 dark-blue">
        <h1>Additional Section</h1>
        <div class="task-container">
          <div>
            <i class="material-icons">flight_takeoff</i>
            Mission planning
          </div>
          <div>
            <i class="material-icons">gps_fixed</i>
            GPS tracking
          </div>
          <div>
            <i class="material-icons">speed</i>
            Performance monitoring
          </div>
        </div>
      </section>

      <section class="section-8" style="background-image: url(assets/3DdronePayload.png)">
      </section>

      <section class="section-6 purple-text yellow">
<!--        <h1>SECTION 6</h1>-->
        <div class="spec-container">
          <div>
            <i class="material-icons">battery_charging_full</i>
            Power supply
          </div>
          <div>
            <i class="material-icons">schedule</i>
            Flight time
          </div>
          <div>
            <i class="material-icons">settings_ethernet</i>
            Weight
          </div>
          <div>
            <i class="fa fa-fan"></i>
            Propulsion
          </div>
        </div>

      </section>
    </div>

    <div class="layout-block-2">
      <div class="group-1-4">
        <section class="section-1 yellow-text faded-background" style="background-image: url(assets/opfa.png)">
          <h1>OFA1</h1>
          <p>Aka overpriced fire alarm</p>
        </section>
      </div>

      <section class="section-3 lighter-blue">
        <h1>Tâches accomplies</h1>
        <div class="task-container">
          <div>
            <i class="material-icons">whatshot</i>
            Détection manuelle de la source de feu
          </div>
          <div>
            <i class="material-icons">map</i>
            Cartographie rectiligne automatisée des hotspots
          </div>
          <div>
            <i class="material-icons">analytics</i>
            Traitement et transmission des données : cartographie de la zone en fichier KML
          </div>
        </div>
      </section>

      <section class="section-5" style="background-image: url(assets/opfa-components.jpg)">
      </section>

      <section class="section-6 yellow orange-text">
          <div class="spec-container">
              <div>
                  LIDAR pour améliorer notre précision de hauteur
              </div>
              <div>
                  Pix-hawk 6C
              </div>
              <div>
                  Rasperry-pi pour accéder aux séquences vidéos de nos caméras
              </div>
              <div>
                  DJI O3 FPV Camera pour un meilleur contrôle
              </div>
              <div>
                  Gimball pour stabiliser notre caméra N.O.I.R
              </div>
              <div>
                  Filtre infrarouge à bande passante sur une caméra raspberry-pi (N.O.I.R)
              </div>
          </div>
      </section>
    </div>
  </div>
</body>
