    <section class="section-dark dark-blue purple-text">
        <h1>{{ 'SPONSORS.SUBTITLE' | translate }}</h1>
    </section>

    <section class="section-cream cream">
        <div class="sponsors-container">
            <div class="sponsors-grid">
                <!-- Row 1 -->
                <div class="sponsor-item">
                    <img src="assets/CCNuclear-logo.jpg" alt="Commanditaire 1">
                </div>
                <div class="sponsor-item">
                    <img src="assets/creaform-logo.jpg" alt="Commanditaire 2">
                </div>
                <div class="sponsor-item">
                    <img src="assets/dassault-logo.jpg" alt="Commanditaire 3">
                </div>

                <!-- Row 2 -->
                <div class="sponsor-item">
                    <img src="assets/JDA-logo.jpg" alt="Commanditaire 4">
                </div>
                <div class="sponsor-item">
                    <img src="assets/protocase-logo.png" alt="Commanditaire 5">
                </div>
                <div class="sponsor-item">
                    <img src="assets/YulDrone-logo.png" alt="Commanditaire 6">
                </div>
            </div>
        </div>
    </section>

    <section class="section-dark-bottom dark-blue cream-text">
          <button class="text-roll" (click)="openMailClient()">
              <span class="text-container">{{ 'SPONSORS.BUTTON' | translate }}</span>
              <span class="text-clone">{{ 'SPONSORS.BUTTON' | translate }}</span>
          </button>
    </section>
